.addMain {
  display: grid;
  padding: 30px;
  align-items: center;
  grid-area: body;
  max-width: 100%;
  overflow-y: scroll;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  scroll-behavior: smooth;
  justify-self: center;
  margin:auto
}
.addTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  background-color: #5b7983;
}
.addProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1%;
  margin: auto;
  background-color: #835a5e;
}
.addImage {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 1%;
  background-color: #5b7983;
}
.addPicture {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: cover;
}
.addDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  background-color: #835a5e;
}
.addCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  background-color: #5b7983;
}
.addSaveButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 1%;
  background-color: #835a5e;
}

@media (max-width: 850px) {
  .addMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
