.collabInfo-box{
    grid-area: body1;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: 270px 270px 180px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'title title title'
    'info1 info1 imageSpace'
    'banner banner info2';
}

.collabImageTop{
    grid-area: body;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.collabBanner{
    grid-area: banner;
    padding: 5px;
    text-align: center;
}

.collabTitle{
    grid-area: title;
    justify-self: start;
    align-self: center;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
.creatorImg{
    grid-area: imageSpace;
    justify-self: center;
    align-self: center;
}
.collab-SoMeLinks{
    grid-area: info2;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.collabInfo{
    grid-area: info1;
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 10px;
}
.contact-info{
    order: 2;
    padding-top: 10px;
}
.contact-info:link{
    color: rgb(31, 124, 201);
}
.contact-info:visited{
    color: brown;
}
.contact-info:hover{
    color: black;
}
.collabInfoParagraph{
    order: 3;
    margin-top: 20px;
}
.collabContactInfo-box{
    grid-area: info3;
    display: flex;
    padding: 10px;
}

.editSoMe {
    display: flex;
    flex-direction: column;
}

.editAboutField {
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.scrollBoxContact {
    display: grid;
    padding: 30px;
    gap: 70px;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 300px;
    align-items: center;
    grid-area: body;
    max-width: 100%;
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    justify-self: center;
  }

@media (max-width: 700px) {
    .collabInfo-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .collab-SoMeLinks{
        justify-content: center;
        gap: 10px;
    }
    .collabBanner{
        order: 99;
    }
    .collabTitle{
        padding-bottom: 10px;
    }
}
@media(max-width: 920px){
    .collabImageTop{
        flex-direction: column;
    }
}