.collabInfo-box{
    grid-area: body1;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: 270px 270px 180px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    'title title title'
    'info1 info1 imageSpace'
    'info1 info1 info2'
    'banner banner banner';
}
.footerPlacement{
    position: sticky;
    bottom: 0;
}
.collabBanner{
    grid-area: banner;
    padding: 5px;
    text-align: center;
    
}

.collabTitle{
    grid-area: title;
    justify-self: start;
    align-self: center;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
}

.creatorImg{
    grid-area: imageSpace;
    justify-self: center;
    align-self: center;
    
   
}

.collab-SoMeLinks{
    grid-area: info2;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.collabInfo{
    grid-area: info1;
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 10px;
}
.contact-info{
    order: 2;
    padding-top: 10px;
}
.collabInfoParagraph{
    order: 3;
    margin-top: 20px;
}


.collabContactInfo-box{
    grid-area: info3;
    display: flex;
    padding: 10px;
}

@media (max-width: 700px) {
    .collabInfo-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .collab-SoMeLinks{
        justify-content: center;
    }
}