
.filterMenu{
    grid-area: body;
    height: 400px;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #cedbad;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    



    /* grid-area: body;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 10px; */
}

.filterMenu div{
    display: block;
    transition: 0.3s;
}

.filterClose{
    position: absolute;
    top: 0;
    padding-top: 15px;
    padding-left: 10px;

    /* order: 1;
    font-weight: bold;
    padding-bottom: 15px; */
}

.filterTitle{
    font-weight: bold;
    padding-bottom: 10px; 
    padding-left: 10px;
}

.filters{
    padding-left: 10px;
    padding-bottom: 15px;
}

.filterMinimize{
    padding-left: 5px;
}


/* @media (max-width: 700px) {
    .filterMenu{
        justify-content: center;
    }
}
@media (max-width: 850px){
    
} */