.logIn-Field{
    grid-area: body;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid grey;
    height: auto;
    width: 450px;
    background-color: beige;
}

.logIn-Title{
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.logIn-UnderTitle{
    font-size: 18px;
}

.logIn-Input{
    width: 300px;
    height: 40px;
    font-size: 15px;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid grey;
}
.wrongLoginInput{
    border: 3px solid rgb(192, 27, 27);
}

.logIn-button{
    font-size: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    background-color: #cedbad;
    margin-bottom: 30px;
}


.wrongUsername{
    display: none;
    color: rgb(192, 27, 27);
    margin-bottom: 30px;
    
}
.wrongLogIn{
    display: flex;
}

.passwordEye{
    position: absolute;
    cursor: pointer;
    margin-bottom: -145px;
    margin-right: -250px;
    opacity: 0.5;
    
}