.container{
    grid-area: body; 
    height: calc(100vh - 100px); 
    margin: auto;
}
.logIn-Field{
    grid-area: body;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 5px 6px #888888;
    height: auto;
    width: 350px;
    background-color: #cedbad;
    padding-top: 50px;
}

.logIn-Title{
    font-size: 30px;
    padding-bottom: 50px;
}
.logIn-UnderTitle{
    font-size: 18px;
}
.logIn-Input{
    width: 300px;
    height: 40px;
    font-size: 15px;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid grey;
    margin-bottom: 40px;
}
.wrongLoginInput{
    border: 3px solid rgb(192, 27, 27);
    margin-bottom: 0px;
}

.logIn-button{
    font-size: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    color: white;
    background-color: #2a2f35;
    margin-bottom: 50px;
}

.wrongUsername{
    display: none;
    color: rgb(192, 27, 27);
    margin-bottom: 22px;
}
.wrongLogIn{
    display: flex;
}
.passwordEye{
    position: absolute;
    cursor: pointer;
    margin-bottom: -75px;
    margin-right: -250px;
    opacity: 0.5;
    user-select: none;
}