.modal {
  position: absolute;
}

.modalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 10;
  overflow: auto;
}

.modalContent {
  max-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "modalleft modalcenter modalright";
}

.slideShow {
  z-index: 20;
  position: relative;
  width: 80vw;
  max-width: 1000px;
  max-height: 90vh;
}

.pictureContainer {
  display: none;
}

.pictureContainer.show {
  display: flex;
  flex-direction: column;
}

.slideShowPic {
  object-fit: contain;
  max-width: 1000px;
  max-height: 90vh;
  height: 90vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideNumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.commentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  right: -10%;
  position: fixed;
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 5% / 2%;
  padding: 15px;
  transition: 0.3s ease-in-out;
  font-size: 0;
  transform: rotate(180deg);
  background: #cedbad
}

.commentBox.show {
  width: 350px;
  height: 80vh;
  right: 70px;
  font-size: 100%;
  transform: rotate(0deg);
}



.commentID {
  display: flex;
  justify-content: space-between;
}

.commentID input {
  width: 45%;
}

.commentField {
  margin: 5px 0;
  padding: 5px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.linkLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  z-index: 20;
  text-align: center;
  color: white;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: transparent;
}

.linkLine img {
  height: 30px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.linkLine img:hover {
  transform: scale(0.9);
}

.close {
  z-index: 20;
  position: fixed;
  top: 1.5em;
  right: 2em;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 850px) {
}
