.modal {
  position: absolute;
}

.modalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 10;
  overflow: auto;
}

.modalContent {
  max-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "modalleft modalcenter modalright";
}

.slideShow {
  z-index: 20;
  position: relative;
  width: 80vw;
  max-width: 1000px;
  max-height: 90vh;
}

.pictureContainer {
  display: none;
  
}

.pictureContainer.show {
  display: flex;
  flex-direction: column;
}

.slideShowPic {
  object-fit: contain;
  max-width: 1000px;
  max-height: 90vh;
  height: 90vh;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideNumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.close {
  z-index: 20;
  position: fixed;
  top: 1.5em;
  right: 2em;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 850px) {
  
}
