* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-areas:
    "headLeft head headRight"
    "body1 body1 body1"
    "body body body"
    "footer footer footer";
  grid-template-rows: 60px auto auto 40px;
  grid-template-columns: 240px auto 240px;
  background-color: white;
  height: 100vh;
}

a {
  cursor: pointer;
}

li {
  list-style: none;
}

.pictureTitle {
  max-width: 80%;
}

.picBox {
  display: flex;
  flex-direction: column;
}

.picContainer {
  max-height: 500px;
  max-width: 500px;
  background-color: #cedbad;
  margin: 10px 0;
}

.picContainer:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 10px;
}

.picContainer:nth-last-child() {
  margin-top: 10px;
  margin-bottom: 20px;
}

.picBackground {
  background-color: #cedbad;
  transition: 0.3s all ease;
}

.picBackground:hover {
  transform: scale(105%);
}

.picture {
  margin: 0;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: 0.3s all ease;
  cursor: pointer;
  background-color: #cedbad;
}

.picture:hover {
  transform: scale(0.95);
}

.scrollBox {
  display: grid;
  padding: 30px;
  gap: 70px;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  align-items: center;
  grid-area: body;
  max-width: 100%;
  overflow-y: scroll;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  scroll-behavior: smooth;
  justify-self: center;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

.menuBar {
  grid-area: head;
  margin: auto;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2f35;
  /* url("IMG/Signatur60px.png") no-repeat scroll 50% 50%; */
}

.logo {
  position: fixed;
  top: 40vh;
  margin: auto;
  z-index: 20;
  transition: 1s ease-in;
}

.logo.done {
  transform: scale(0.2143)
}

.hamburger {
  position: fixed;
  top: 10px;
  right: 12px;
  display: block;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 36px;
  height: 5px;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.show .bar:nth-child(1) {
  transform-origin: 50%;
  transform: translateY(11px) rotate(45deg);
}
.hamburger.show .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.show .bar:nth-child(3) {
  transform-origin: 50%;
  transform: translateY(-11px) rotate(-45deg);
}

.menu {
  position: fixed;
  right: -100%;
  top: 60px;
  gap: 0;
  flex-direction: column;
  background-color: #2a2f35;
  width: 300px;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.menu.show {
  right: 0;
}

.menuItem {
  font-size: 20px;
  margin: 16px 0;
}

.menuLink {
  transition: 0.7s ease;
  font-weight: bolder;
  color: white;
  user-select: none;
  cursor: pointer;
}

.menuLink:hover {
  color: #7b7d7c;
}

.footer {
  padding: 10px;
  color: white;
  position: fixed;
  height: 40px;
  width: 100vw;
  bottom: 0;
  right: 0;
  background-color: #2a2f35;
  text-align: center;
}

@media (max-width: 850px) {
  .app {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .menu {
    position: fixed;
    left: 100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #2a2f35;
    width: 100vw;
    text-align: center;
    transition: 0.4s ease-in-out;
  }

  .menuItem {
    margin: 16px 0;
  }

  .menu.show {
    left: 0;
  }

  .picture {
    padding: 5px 0;
    height: 90vw;
    width: 90vw;
    object-fit: cover;
    transition: none;
    cursor: pointer;
  }

  .picture:hover {
    transform: none;
  }

  .scrollBox {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 100px);
    gap: 0;
  }

  .picBackground {
    background-color: white;
  }

  .picBackground:hover {
    transform: none;
  }
}
